.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  box-shadow: -3px 31px 36px -24px rgba(110, 163, 163, 0.5),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
  margin: 1% 6%;
  border-radius: 10px;
  background-color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 10%;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 5%;
}

body {
  background-color: rgb(242, 250, 251);
}

#header {
  height: 20%;
}

.languages span {
  background-color: rgb(242, 250, 251);
  color: rgb(110, 163, 163);
  font-weight: bolder;
  padding: 5px 10px;
  border-radius: 5px;
  /* padding: 2%; */
}
.company {
  color: rgb(110, 163, 163);
  font-weight: bolder;
}

.new {
  border: 2px solid rgb(110, 163, 163);
  background-color: rgb(110, 163, 163);
  border-radius: 15px;
  color: white;
  font-weight: bolder;
  padding: 2px 5px;
}
.featured {
  border: 2px solid black;
  background-color: black;
  border-radius: 15px;
  color: white;
  font-weight: bolder;
  padding: 2px 5px;
}

.DetailsRow2 {
  color: black;
  font-weight: bolder;
}
.details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 300px;
}
.DetailsRow1 {
  display: flex;
  flex-direction: row;
  gap: 2%;
  justify-content: center;
  align-items: center;
}
.DetailsRow3,
.DetailsRow3 ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.DetailsRow3 ul li {
  padding-right: 20px;
  font-size: 14px;
  color: grey;
  font-weight: bold;
}

.firstLi {
  list-style-type: none;
}
